font-family: 'Inter', sans-serif;
font-family: 'Karla', sans-serif;

html {
    
    padding: 0;
     
}
body {
    margin: 40px auto 40px auto;
    width: 550px;
    height: 729px; 
    font-family: Inter;  
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
}

#header {
    width: 550px;
    height: 285px;
    background: #6943FF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero-h1 {
    color: white;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.03em;
    margin: 30px;
    
}

#input-area {
    display: flex;
    flex-direction: column;
    
    
   
   
}
#input {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 117px;
    height: 83px;
    border: 2px solid #B295FF;
    border-radius: 5px;
    font-family: Inter;
    font-weight: 800;
    font-size: 58px;
    background-color: #6943FF;
    color: white;
    text-align: center;
    box-sizing: border-box;
    
}

#convert-btn {
    width: 117px;
    height: 42px;
    background-color: white;
    font-family: Inter;
    font-weight: 500;
    color: #3D3D3D;
    font-size: 16px;
    padding: 8px 25px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 5px;
    margin-top: 26.7px;
    box-sizing: border-box;   
}

#formulas {
    width: 550px;
    height: 444px;
    background: #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: ;
    padding-top: 13px;
    padding-bottom: 13px;
    
    
}

.conversion {
    width: 500px;
    height: 109px;
    background: white;
    text-align: center;
    margin: 23px;     
}

.conversion h2 {
    color: #5A537B;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    margin-top: 31px; 
    margin-bottom: 0px;
}

.conversion p {
    font-weight: 400;
    font-size: 14px;
    margin-top: 9px;
    line-height: 20px
}